@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html{
  background-color: #000000;
  font-size: 12pt
}

.lookgood{
  margin-top: 70px;
  color: #494949;
  font-family: 'Press Start 2P', cursive;
  
}

.loading{
  width: 60%;
  max-width: 300px
}
